.jumbotron {
    background-color: #ffffff !important;
    /* margin-bottom: 0px !important; */
    
}
.hello, hr h3{
   font-family: 'Nosifer';
    color: orange;
    font-weight: bolder;
}
.middletitle{
    font-family: 'Nosifer';
     color: orange;
     font-weight: bolder;
 }
p, a{
    font-family: 'Bitter', serif;    
}